@font-face {
  font-family: "Museo Sans Cyrl 100";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Museo_Sans_Cyrl_100.otf");
}

@font-face {
  font-family: "Museo Sans Cyrl 700";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Museo_Sans_Cyrl_700.ttf");
}

body {
  font-family: "Museo Sans Cyrl 100", "Arial", sans-serif;

  background-image: url(./components/img/background.png);
  background-repeat: no-repeat;
  background-position: top;

  background-color: #141820;
}

@media (max-width: 765px) {
  body {
    background-position: 50% -100px;
  }
}

@media (max-width: 500px) {
  body {
    background-position: 50% -125px;
  }
}

@media (max-width: 310px) {
  body {
    background-position: 50% -140px;
  }
}
